@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
body{
    font-family: "Fredoka", sans-serif;
    background: url("../assets/stadium.jpg") no-repeat;
    background-size: cover;
}
/*--------estilos de seleccionar mascota--------*/
#seleccionar-mascotas{
    background:rgba(0,0,0,0.5);
    display:flex;
    flex-direction:column;
    align-items: center;
    border-radius:20px;
}
.titulo{
    color:#fff;
    font-size:32px;
}
.subtitulo{
    color:#fff;
    font-size:20px;
}
.tarjetas-mokepones{
    display:flex;
    gap:10px;
}
.tarjeta-de-mokepon{
    width:180px;
    height:100px;
    background-color: #58A399;
    padding:10px;
    box-sizing: border-box;
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.tarjeta-de-mokepon img{
    width:80px;
}
input{
    display:none;
}
#boton-mascota{
    background-color:#FF204E;
    color:#fff;
    width:150px;
    height:50px;
    border: 1px solid white;
    border-radius:10px;
    font-size:16px;
    font-family: "Fredoka", sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 20px;
}
/*--------estilos de seleccionar ataque--------*/

#seleccionar-ataque{
    background:rgba(0,0,0,0.5);
    flex-direction:column;
    align-items: center;
    border-radius:20px;
}
#recuadro-botones-ataque{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.boton-ataque{
    background-color:#FF204E;
    color:#fff;
    width:100px;
    height:50px;
    border: 1px solid white;
    border-radius:10px;
    font-size:16px;
    font-family: "Fredoka", sans-serif;
    margin-top: 20px;
}
#mensajes{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 200px;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    display:flex;
}
#seleccionar-ataque p{
    color:#fff;
}
#boton-reiniciar{
    background-color:#FF204E;
    color:#fff;
    width:100px;
    height:50px;
    border: 1px solid white;
    border-radius:10px;
    font-size:16px;
    font-family: "Fredoka", sans-serif;
    margin-bottom: 20px;
}